<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @{
      string CurrentTheme = "base";   
    }

    <link rel="stylesheet" type="text/css" href="/Content/themes/base/Shared/_Layout.css" />

    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
	<script src="~/Scripts/Shared/_Layout.js"></script>
    <script src="~/Scripts/safehouse.namespacing.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,600' rel='stylesheet' type='text/css'>

    @RenderSection("Head", required: false)

    <script type="text/javascript">
        $(document).ready(function(){
            $('#mainMenu').on('click', '.NavLink', function () {
                var $this = $(this);
                if ($this.find('a').length > 0) {
                    $this.find('a')[0].click();
                }
            });
        })
    </script>

</head>
<body>
    @Html.MvcSiteMap().Menu(false, true, false)

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <div id="footer">
        @RenderSection("footer", required: false)
    </div>
</body>
</html>
