<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @{
      string CurrentTheme = "base";   
    }

    <link rel="stylesheet" type="text/css" href="/Content/themes/base/Shared/_Layout.css" />

    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
	<script src="~/Scripts/Shared/_Layout.js"></script>
    <script src="~/Scripts/safehouse.namespacing.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,600' rel='stylesheet' type='text/css'>

    @RenderSection("Head", required: false)

</head>
<body>
    <div id="mainMenu">
		<div class="NavOption NavLink NavHome">
			<img src="@string.Format("..\\Content\\themes\\{0}\\images\\{1}", CurrentTheme, "home_goldenrod.png")"/><a href="">Project Safehouse</a>
		</div> 
        @if (ViewBag.CurrentUser != null)
        {
            <div class="NavOption NavLink">
		        <img src="@string.Format("..\\Content\\themes\\{0}\\images\\{1}", CurrentTheme, "undo_32x32.png")"/><a href="~/LogOut">Sign Out</a>
	        </div> 
        }

    </div>
	<div id="subMenu">
        
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <div id="footer">
        @RenderSection("footer", required: false)
    </div>
</body>
</html>
