@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@{
    ProjectSafehouse.Models.User CurrentUser = (ProjectSafehouse.Models.User)Session["CurrentUser"];
}

<div id="mainMenu">

    <div class="NavOption NavLink NavHome">
		<img src="@Url.Content("~/Content/themes/base/images/home_goldenrod.png")"/>
        <a href="@Url.Content("~/")">Project Arsenal</a>
	</div> 

    @foreach(var node in Model.Nodes){
        <div class="NavOption NavDropDown">
            <img src='@Url.Content(node.ImageUrl)'/>
            <h2>@node.Title</h2>
            <div class="HiddenSubNav">
                @foreach(var subNode in node.Children)
                {
                    <div class="NavOption NavLink">
                        <a href="@subNode.Url">
                            @subNode.Title
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    @*    @foreach (var node in Model.Nodes) { 
        <li>@Html.DisplayFor(m => node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m => node.Children)
            }
        </li>
    }*@

    @if (CurrentUser != null)
    {
        <div class="NavOption NavLink">
		    <img src="@Url.Content("~/Content/themes/base/images/undo_32x32.png")"/><a href="~/LogOut">Sign Out</a>
	    </div> 
    }
</div>

<div id="subMenu">

</div>