@model ProjectArsenal.ViewModels.CompanyList

@if (Model.Companies.Count > 0)
{
    
    <p class="FriendlyText">@Model.IntroText</p>
    
    foreach (var company in Model.Companies)
    {
        <div class="FriendlyBox" style="width: 95%; overflow:hidden;" id="@string.Format("{0}Button", company.ID)" target="@string.Format("{0}Box", company.ID)" companyid="@company.ID">
            <div class="CompanyStats" style="float: right; width: 60%; height: 100%;">
                @*<img src="~/Content/themes/base/images/layers_32x28.png" />*@
                
                <div class="CompanyDescription">
                    <img class="CompanyLogo Thumnmail" style="width: 150px; height: 150px; background-color: #CCC; display: inline-block;">

                    </img>
                    <p style="display: inline; vertical-align: top;">
                            <h3 class="NoTextWrap CompanyName">@company.Name</h3>
                        @company.Description
                    </p>
                </div>
                <ul class="CompanyUsers">
                    @foreach(var user in company.Users)
                    {
                        <li>@user.Email</li>
                    }
                </ul>
            </div>
            <ul class="ProjectList" style="display: block; float: left; width: 30%;">
                @Html.Action("LoadCompanyProjects", "Project", new {companyId = @company.ID})
            </ul>
            @Html.ActionLink("Admin Panel", "Admin", new { id = @company.ID }, new {  @class="AdminLink" })
        </div>@*
        <div id="@string.Format("{0}Box", company.ID)" class="CompanyDetailsContainer">
            <div class="CompanyDetailsConstraint">
                <p class="CompanyName">@company.Name (@Html.ActionLink("Admin Panel", "Admin", new {id = @company.ID}))</p>
                <p class="CompanyDescription">@company.Description</p>
                <p class="CompanyCreatedDate">Created On:@company.CreatedDate</p>
            </div>
            <img src="~/Content/themes/base/images/x_alt_24x24.png" class="CloseDetailsContainer" />
        </div>*@
    }
    <div style="clear:both">
        <p class="FriendlyText">@Model.OutroText</p>
    </div>
}
else
{
    <div>
        <p class="FriendlyText">
            Looks like you are't associated with any companies yet.  You can create one for free to get started!
        </p>
    </div>   
    
}
