@model ProjectSafehouse.ViewModels.CompanyList

@if (Model.Companies.Count > 0)
{
    
    <p class="FriendlyText">@Model.IntroText</p>
    
    foreach (var company in Model.Companies)
    {
        <div class="FriendlyBox" id="@string.Format("{0}Button", company.ID)" target="@string.Format("{0}Box", company.ID)" companyid="@company.ID">
            <img src="~/Content/themes/base/images/layers_32x28.png" />
            <p>
                @company.Name
            </p>
        </div>
        <div id="@string.Format("{0}Box", company.ID)" class="CompanyDetailsContainer">
            <div class="CompanyDetailsConstraint">
                <p class="CompanyName">@company.Name (@Html.ActionLink("Admin Panel", "Admin", new {id = @company.ID}))</p>
                <p class="CompanyDescription">@company.Description</p>
                <p class="CompanyCreatedDate">Created On:@company.CreatedDate</p>
            </div>
            <ul class="ProjectList">

            </ul>
            <img src="~/Content/themes/base/images/x_alt_24x24.png" class="CloseDetailsContainer" />
        </div>
    }
    <div style="clear:both">
        <p class="FriendlyText">@Model.OutroText</p>
    </div>
}
else
{
    <div>
        <p class="FriendlyText">
            Looks like you are't associated with any companies yet.  You can create one for free to get started!
        </p>
    </div>   
    
}
