@model ProjectSafehouse.Models.User

@{
    ViewBag.Title = "Login or Signup";
    Layout = "~/Views/Shared/StandardPage.cshtml";
}

@{
    string CurrentTheme = "base";   
}


@section Head{

    <link rel="stylesheet" type="text/css" href="@string.Format("/Content/themes/{0}/Login/{1}", CurrentTheme, "Index.css")">
    <script type="text/javascript" src="/Scripts/Login/Index.js"></script>

}

@section MenuOptions
{
    <div class="NavOption NavDropDown">
		<img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "cog_32x32.png")"/><h2>Navigation</h2>
	</div> 
}

@section SubMenuOptions
{
    <div class="NavOption NavLink">
		<h2>
			Why you should choose us.
		</h2>
	</div> 
	<div class="NavOption NavLink">
		<h2>
			How to sign up.
		</h2>
	</div> 
}

@section MainContent{
    <div id="loginBox" class="CleanBox">
		<div class="CleanHeader">
            <h3>Log in to your account.</h3> 
		</div>
		<div class="Content">
			<div class="SplitLeft">
                @{
                    if(ViewBag.Error != null)
                    {
                        <span id="loginErrorMessage">@ViewBag.Error</span>
                    }
                }
                
			    @using (Html.BeginForm("ReturningUser", "Login", FormMethod.Post))
       {
				    <p class="EmailSection InputSection">
                        <label for="logInEmail">Email</label>
                        <div class="TextWrapper">
                            <img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "at_24x24.png")"/>
					        @Html.TextBoxFor(x => x.Email, new { placeholder = "Your Email Address", id = "logInEmail", required = "true", type = "email" })
				        </div>
                        <div style="clear:both"></div>
                    </p>
                    <p class="PasswordSection InputSection">
                        <label for="logInPassword">Password</label>
                        <div class="TextWrapper">
                            <img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "key_stroke_24x24.png")"/>
	                        @Html.PasswordFor(x => x.Password, new { placeholder = "Your Password", id = "logInPassword", required = "true" })
				        </div>
                        <div style="clear:both"></div>
                    </p>
				    
				    <input type="submit" value="Log In!" />
       }
                
			</div>
			<div class="SplitRight">
				<p>
					Don't have an account with us?<br/>  Sign up for one today!
					We offer <em>free</em> project management tools for small development teams
					and extremely competitively priced tools for companies.
				</p>
				
				<div class="IconAndHeader" id="signUpSwitch">
					<img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "Home.png")" alt="Sign Up!"/>
					<h2>Sign Up</h2>
                    <div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
    <div id="signupBox" class="CleanBox">
        <div class="CleanHeader">
            <h3>Sign up for an account.</h3> 
		</div>
        <div class="Content">
            <div class="SplitLeft">
            @using (Html.BeginForm("NewUser", "Login", FormMethod.Post))
            {
                <p class="EmailSection InputSection">
                    <label for="signUpEmail">Email</label>
                    <div class="TextWrapper">
                        <img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "at_24x24.png")"/>
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "Your Email Address", id = "signUpEmail", required = "true", type = "email" })
                    </div>
                    <div style="clear:both"></div>
                </p>
                <p class="PasswordSection InputSection">
                    <label for="signUpPassword">Password</label>
                    <div class="TextWrapper">
                        <img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "key_stroke_24x24.png")"/>
                        @Html.PasswordFor(x => x.Password, new { placeholder = "Pick a Password", id = "signUpPassword", required = "true" })
                    </div>
                     <div style="clear:both"></div>
                </p>
                <p class="ConfirmSection InputSection">
                    <label for="signUpConfirm">Confirm Password</label>
                    <div class="TextWrapper">
                        <img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "lock_stroke_18x24.png")" style="margin-left: 8px; margin-right: 5px;"/>
                        <input type="password" placeholder="Confirm Your Password" id="signUpConfirm" required />
                    </div>
                     <div style="clear:both"></div>
                </p>
                <p class="InputSection">
                    <input type="checkbox" id="agreeToTerms" required style="float:left; width:15px; margin-left: 110px;" value="I agree to the terms and conditions" />
                    <label for="agreeToTerms" style="float:left; width: 200px; margin-top: -14px;">I agree to the <a href="#">terms and conditions</a>.</label>
                     <div style="clear:both"></div>
                </p>
			    
				<input type="submit" value="Sign Up!" />
			    
            }
            </div>
            <div class="SplitRight">
				<p>
					Already have an account with us?<br/>  Log in to access your tools!
					We are constantly working hard to bring you the best and easiest to use team-management software.
				</p>
				
				<div class="IconAndHeader"  id="logInSwitch">
					<img src="@string.Format("Content\\themes\\{0}\\images\\{1}", CurrentTheme, "home.png")" alt="Sign Up!"/>
					<h2>Log In</h2>
                    <div style="clear:both"></div>
				</div>
			</div>
        </div>
    </div>
    }
<!--
 <div class="NavOption NavLink">
		<h2>
			Why you should choose us.
		</h2>
	</div> 
	<div class="NavOption NavLink">
		<h2>
			How to sign up.
		</h2>
	</div>    
-->
